################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpp_code/.vs/tulkh/v17/Browse.VC.opendb
